@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

// MOBILE HEADER

header {
  width: 100vw;
  height: 600px;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(
      var(--background-gradient-intro1),
      var(--background-gradient-intro2)
    );

  background-size: 350%, 100%;
  background-position: 35% 34%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: rem.convert(100px);
  color: var(--white-text);

  @include breakpoint-up(large) {
    height: 570px;
    // background-image: url(../images/bg-pattern-intro.svg),
    //   linear-gradient(
    //     var(--background-gradient-intro1),
    //     var(--background-gradient-intro2)
    //   );
    background-size: 200%, 100%;
    background-position: 26% 53%;
  }
}

.hero {
  margin-top: 2.6rem;

  &__subtitle {
    margin-top: rem.convert(20px);
    font-size: 1rem;
    font-weight: 300;
    font-family: "Overpass";
  }

  &__btns {
    margin-top: 2.5rem;
    text-align: center;
  }
}
