@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

// MOBILE HEADER

header {
  width: 100vw;
  height: 600px;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(
      135deg,
      var(--background-gradient-intro1),
      var(--background-gradient-intro2)
    );

  background-size: 350%, 100%;
  background-position: 35% 34%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: rem.convert(100px);
  color: var(--white-text);

  @include breakpoint-up(large) {
    height: 570px;
    background-image: url(../images/bg-pattern-intro.svg),
      linear-gradient(
        to right,
        var(--background-gradient-intro1),
        var(--background-gradient-intro2)
      );
    background-size: 200%, 100%;
    background-position: 22% 53%;
  }
}

.nav {
  &__header {
    padding: 3.5rem 1.5rem;

    .blogr {
      height: 82%;
    }
  }
}

.main-item {
  display: flex;

  > span {
    align-self: center;
    margin-left: rem.convert(6px);
  }
}

.hero {
  padding: 0 2rem;
  margin-top: 2.4rem;

  h1 {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.4;
  }

  h2 {
    margin-top: rem.convert(20px);
    font-size: 1rem;
    font-weight: 300;
    font-family: "Overpass";
  }

  &__btns {
    margin-top: 2.5rem;
    text-align: center;
  }

  button {
    border: 1px solid var(--white-text);
    padding: rem.convert(12px 26px);
    border-radius: rem.convert(25px);
    font-size: 1rem;
    font-family: "Ubuntu";
    font-weight: 400;
    background: none;
    color: var(--white-text);
  }

  .start {
    padding: rem.convert(12px 20px);
    margin-right: rem.convert(10px);
    color: var(--background-gradient-intro2);
    background: var(--white-text);
  }
}
