@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;
@use "./buttons" as btn;
// MOBILE HEADER

.header {
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: rem.convert(600px);
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient(
      var(--background-gradient-intro1),
      var(--background-gradient-intro2)
    );

  background-size: 350%, 100%;
  background-position: 35% 34%;
  background-repeat: no-repeat, no-repeat;
  border-bottom-left-radius: rem.convert(100px);
  color: var(--white-text);

  @include breakpoint-up(medium) {
    height: rem.convert(570px);
    background-size: 200%, 100%;
    background-position: 26% 53%;
  }

  &__hero {
    margin-top: 1rem;
    align-self: center;
    padding: 0 1rem;
    width: 100%;
    text-align: center;

    @include breakpoint-up(large) {
      margin-top: 3rem;
    }

    &__subtitle {
      margin-top: 1.5rem;
      padding: 0 2.5rem;
      text-align: center;
    }
  }

  &__btns {
    margin-top: 3.5rem;
  }
}

.primary {
  @include btn.button--primary;
}
