@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.hero {
  margin-top: 17rem;
  // min-height: 21rem;
  background: linear-gradient(
    var(--background-gradient-body1),
    var(--background-gradient-body2)
  );
  color: var(--white-text);
  border-radius: 0 100px 0 100px;

  @include breakpoint-up(medium) {
    background-position: 50% 88%;
  }

  @include breakpoint-up(large) {
    margin-top: 4rem;
    background: linear-gradient(
      to right,
      var(--background-gradient-body1),
      var(--background-gradient-body2)
    );
  }

  &__content {
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: 50% -400%;
    border-radius: 0 100px 0 100px;

    @include breakpoint-up(medium) {
      background-position: 50% 100%;
    }

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      background-size: 75%;
      background-position: -62% 80%;
    }
  }

  &__image {
    height: 12rem;
    width: 100%;

    @include breakpoint-up(medium) {
      margin-top: 25rem;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
    }

    > img {
      position: relative;
      margin: 0 auto;
      transform: translatey(-49%);

      @include breakpoint-up(large) {
        transform: translatey(-13%);
      }
    }
  }

  &__text {
    padding-bottom: 6rem;
    margin-top: 3.5rem;

    @include breakpoint-up(medium) {
      padding: 0 2rem 7rem 2rem;
      margin-top: 7rem;
    }

    @include breakpoint-up(large) {
      margin: 5rem 12rem 5rem 0;
      padding: 1rem;
    }
  }
}
