@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.hero {
  margin-top: 16rem;
  color: var(--white-text);
  background: linear-gradient(
    var(--background-gradient-body1),
    var(--background-gradient-body2)
  );
  border-radius: 0px 100px 0px 100px;

  @include breakpoint-up(medium) {
    margin-top: 20rem;
  }

  @include breakpoint-up(large) {
    margin: 5rem 0;
    background: linear-gradient(
      to right,
      var(--background-gradient-body1),
      var(--background-gradient-body2)
    );
  }

  &__content {
    background-image: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 161%;
    background-position: 50% 570%;
    border-radius: 0px 100px 0px 100px;

    @include breakpoint-up(medium) {
      background-position: 50% 88%;
    }

    @include breakpoint-up(large) {
      display: flex;
      background-size: 74%;
      background-position: -62% 80%;
    }
  }

  &__image {
    height: 12rem;

    @include breakpoint-up(large) {
      width: 115%;
    }

    > img {
      position: relative;
      top: -200px;

      @include breakpoint-up(medium) {
        top: -285px;
      }

      @include breakpoint-up(large) {
        top: -69px;
        left: 145px;
      }
    }
  }

  &__text {
    padding-bottom: 4rem;
    @include breakpoint-up(medium) {
      margin: 5.5rem 2rem 0 2rem;
    }

    @include breakpoint-up(large) {
      margin: 0rem 8rem 0rem 8rem;
      padding: 6rem;
    }

    > h3,
    p {
      @include breakpoint-up(large) {
        text-align: left;
      }
    }
  }
}
