@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

main {
  margin-top: 10rem;
  font-size: 1rem;
}

.section {
  &__text {
    margin-top: rem.convert(40px);
    &--hero {
      margin-top: 0;
      padding-bottom: 5rem;
    }
  }

  &__img {
    margin-top: rem.convert(40px);
    &--hero {
      max-height: 200px;
    }
  }

  &__image {
    margin: 0 auto;

    &--hero {
      position: relative;
      top: -188px;
    }
  }

  &--two {
    margin-top: 17rem;
    color: var(--white-text);
    background-image: url(../images/bg-pattern-circles.svg),
      linear-gradient(
        var(--background-gradient-body1),
        var(--background-gradient-body2)
      );
    background-size: 160%;
    background-position: 50% 545%;
    background-repeat: no-repeat no-repeat;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  &--three {
    margin-top: 4rem;
  }
}
