@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.nav {
  // position: fixed;
  // z-index: 1;
  padding: 3.5rem 1.5rem;

  @include breakpoint-up(medium) {
    display: flex;
    align-items: center;
    padding: 1.5rem 4.5rem;
  }

  @include breakpoint-up(large) {
    padding: 1.5rem 10rem;
  }

  &__header {
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint-up(medium) {
    }
  }

  &__close {
    display: none;
  }

  &__wrapper {
    display: none;
    position: absolute;
    width: calc(100% - 46px);
    margin-top: 2.6rem;
    padding: 2rem;
    background: var(--white-text);
    color: var(--primary-headings);
    border-radius: 5px;

    @include breakpoint-up(medium) {
      position: static;
      flex: 2 1 auto;
      display: flex;
      justify-content: space-between;
      background: none;
      color: var(--white-text);
      margin-top: 0;
      padding: 2rem 0;
    }
  }

  &__menu {
    &.active {
      .nav__dropdown {
        display: block;
        background: var(--dropdown-background);
        margin: rem.convert(20px 0);
        padding: rem.convert(20px 0);
        border-radius: 5px;
        font-size: rem.convert(14px);
        text-align: center;

        @include breakpoint-up(medium) {
          position: absolute;
          float: none;
          background: var(--white-text);
          color: var(--primary-headings);
          padding: rem.convert(20px 20px);
        }
      }

      .nav__link > picture {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    @include breakpoint-up(medium) {
      display: flex;
      align-items: center;

      &--left {
        @include breakpoint-up(large) {
          margin-left: 1rem;
        }

        > li {
          margin-left: 2rem;
        }
      }

      &--right {
        display: flex;
        > :first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }

  &__item {
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;

    > button {
      padding: 0.7rem 2.2rem;
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium) {
      position: relative;
    }

    > picture {
      margin-left: rem.convert(5px);
      transition: all 0.5s;
    }
  }

  &__dropdown {
    display: none;
    font-family: var(--font-overpass);

    @include breakpoint-up(medium) {
      width: rem.convert(120px);
    }

    > li:hover {
      font-weight: 600;
    }

    > :not(:first-child) {
      padding-top: rem.convert(10px);
    }
  }

  &__divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
  }
}

.open {
  display: block;
}

.close {
  display: none;
}
