@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.nav {
  position: fixed;
  z-index: 2;
  width: 100vw;
  padding: 3.5rem 1.5rem;

  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    padding: 1.5rem 9.5rem;
  }

  &__header {
    height: 82%;
  }

  &__close {
    display: none;
  }

  &__wrapper {
    display: none;
    margin-top: 2.6rem;
    padding: 2rem;
    background: var(--white-text);
    color: var(--primary-headings);
    border-radius: 5px;
    box-shadow: -9px 36px 20px var(--dropdown-background);

    @include breakpoint-up(large) {
      flex: 2 1 auto;
      display: flex;
      justify-content: space-between;
      background: none;
      color: var(--white-text);
      margin-top: 0;
      padding: 2rem 0;
      box-shadow: none;
    }
  }

  &__list {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;

      &--left {
        margin-left: 1rem;

        > li {
          margin-left: 2rem;
        }
      }

      &--right {
        > :first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }

  &__item {
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    > button {
      padding: 0.7rem 2.2rem;
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    > picture {
      margin-left: rem.convert(5px);
    }
  }

  &__dropdown {
    display: none;
    background: var(--dropdown-background);
    margin: rem.convert(20px 0);
    padding: rem.convert(20px 0);
    border-radius: 5px;
    font-size: rem.convert(14px);
    text-align: center;

    > li:hover {
      font-weight: 600;
    }

    > :not(:first-child) {
      padding-top: rem.convert(10px);
    }

    @include breakpoint-up(large) {
      background: var(--white-text);
      color: var(--primary-headings);
    }
  }

  &__divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
  }
}

.nav__left.open {
  display: flex;
}

.nav__left.open img {
  transform: rotate(180deg) translateY(25%);
}

.nav__dropdown.open {
  display: block;
}
// .nav__left.open::after {
//   transform: rotate(180deg);
// }
