@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.section {
  margin-top: 4rem;

  @include breakpoint-up(medium) {
    padding: 0 2rem;
  }

  @include breakpoint-up(large) {
    padding: 0;
    margin-top: 8rem;

    > h4 {
      text-align: center;
      font-size: rem.convert(40px);
    }
  }

  &--laptop {
    @include breakpoint-up(large) {
      margin-top: 12rem;
    }
  }

  &__content {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
    }
  }

  &__image {
    min-height: 21rem;
    width: 100%;
    background-position: center;
    margin: 2rem 0;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up(medium) {
      min-height: 31rem;
      background-size: contain;
    }

    @include breakpoint-up(large) {
      min-height: 50rem;
      margin: 0;
      background-size: cover;
    }

    &--editor {
      background-image: url(../images/illustration-editor-mobile.svg);

      @include breakpoint-up(large) {
        order: 2;
        transform: translateX(13%);
      }
    }

    &--laptop {
      background-image: url(../images/illustration-laptop-mobile.svg);

      @include breakpoint-up(large) {
        transform: translateX(-16%);
      }
    }
  }

  &__text {
    @include breakpoint-up(large) {
      margin: 10rem;
    }

    > :nth-child(3) {
      margin-top: 2rem;

      @include breakpoint-up(large) {
        margin-top: 4rem;
      }
    }

    @include breakpoint-up(large) {
      // padding: 7rem;
    }

    &--laptop {
      margin: 12rem 12rem 12rem 5rem;
    }
  }
}
