@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.section {
  margin-top: 4rem;

  @include breakpoint-up(medium) {
    padding: 0 2rem;
  }

  @include breakpoint-up(large) {
    padding: 0;
    margin-top: 1rem;

    > h4 {
      text-align: center;
      font-size: rem.convert(40px);
      transform: translateY(260%);
    }
  }

  &--laptop {
    @include breakpoint-up(large) {
      margin-top: 6rem;
    }
  }

  &__content {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
      height: 60rem;
    }
  }

  &__image {
    min-height: 21rem;
    width: 100%;
    background-position: center;
    margin: 2rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up(medium) {
      min-height: 31rem;
      background-size: cover;
    }

    @include breakpoint-up(large) {
      margin: 0;
      width: 120%;
    }

    &--editor {
      background-image: url(../images/illustration-editor-mobile.svg);

      @include breakpoint-up(large) {
        order: 2;
        background-image: url(../images/illustration-editor-desktop.svg);
        background-size: 105%;
        transform: translateX(12%);
        background-position: center center;
      }
    }

    &--laptop {
      background-image: url(../images/illustration-laptop-mobile.svg);

      @include breakpoint-up(large) {
        background-size: 115%;
        background-position: center center;
        transform: translateX(-25%);
        background-image: url(../images/illustration-laptop-desktop.svg);
      }
    }
  }

  &__text {
    @include breakpoint-up(large) {
      margin: 16rem 7rem 16rem 10rem;
    }

    > :nth-child(3) {
      margin-top: 2rem;

      @include breakpoint-up(large) {
        margin-top: 4rem;
      }
    }

    &--laptop {
      margin: 14rem 12rem 12rem 0;
    }
  }
}
