@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

.section {
  margin-top: 4rem;

  @include breakpoint-up(medium) {
    margin: 4rem 2rem 0 2rem;
  }

  @include breakpoint-up(large) {
    margin: 0;
  }

  > h4 {
    @include breakpoint-up(medium) {
      font-size: 2.5rem;
      margin-top: 4rem;
    }

    @include breakpoint-up(large) {
      margin-top: 0;
      font-size: 3rem;
      position: relative;
      top: 100px;
    }
  }

  &__content {
    margin-top: 3rem;

    @include breakpoint-up(medium) {
      margin-top: 0;
    }
    @include breakpoint-up(large) {
      display: flex;
    }
  }

  &__image {
    margin-top: 4rem;
    &--editor {
      @include images-onmobile;
      margin-top: 0;
      background-image: url(../images/illustration-editor-mobile.svg);

      @include breakpoint-up(medium) {
        margin-top: 4rem;
        @include images-onpad;
      }

      @include breakpoint-up(large) {
        order: 2;
        @include images-ondesktop;
        background-image: url(../images/illustration-editor-desktop.svg);
        background-position: -183% 50%;
      }
    }

    &--laptop {
      @include images-onmobile;
      background-image: url(../images/illustration-laptop-mobile.svg);

      @include breakpoint-up(medium) {
        @include images-onpad;
      }

      @include breakpoint-up(large) {
        @include images-ondesktop;
        background-image: url(../images/illustration-laptop-desktop.svg);
        background-position: 79% 50%;
      }
    }
  }

  &__text {
    margin-top: 0;

    &--editor,
    &--laptop {
      @include breakpoint-up(large) {
        padding: 11rem 0 0 9.5rem;
      }

      > h4 {
        margin: 2rem 3.5rem 0 3.5rem;

        @include breakpoint-up(medium) {
          margin-top: 4rem;
        }

        @include breakpoint-up(large) {
          margin: 2.5rem 3.5rem 0 0;
          text-align: left;
        }
      }
    }
  }
}
