@mixin images-onmobile {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 20rem;
}

@mixin images-onpad {
  min-height: 40rem;
  background-position: 50% 50%;
}

@mixin images-ondesktop {
  margin-top: 0;
  height: 50rem;
  min-width: 50%;
}
