@mixin images-onmobile {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  min-height: 20rem;
}

@mixin images-onpad {
  min-height: 35rem;
}

@mixin images-ondesktop {
  background-position-y: center;
  min-height: 40rem;
  // min-width: 50%;
}
