@use "../utils/" as *;

.container {
  padding: 0 1.5rem;
}

// FLEXBOX & FORFATTING
.flex {
  display: flex;

  &-c {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }

  &-a-s {
    align-self: center;
  }
}

.block {
  display: block;
}

.txt-c {
  text-align: center;
}

.close {
  display: none;
}

.open {
  display: block;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
