@use "../utils/" as *;
@use "../node_modules/sass-rem" as rem;

h1,
h2,
h3,
h4 {
  font-family: var(--font-overpass);
  text-align: center;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@include breakpoint-up(large) {
  a:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0 1.5rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4;

  @include breakpoint-up(large) {
    font-size: rem.convert(54px);
  }
}

h2 {
  padding: 0 2.75rem;
  font-size: 2rem;
}

h3 {
  font-size: rem.convert(26px);
}

h4 {
  padding: 0 3.5rem;
  font-size: rem.convert(24px);
  line-height: 1.3;
}

p {
  text-align: center;
  padding: 0 2.75rem;
  margin-top: 1.5rem;
}
